h1{
	text-align: center;
}

body{
	background-color: #EEE;
	font-family: Open Sans;
}

.valide{
	text-decoration: line-through;
}

input{
	height: 50px;
	width: 250px;
}

.filtre{
	height: 50px;
	width: 100px;
}

ul {
	list-style: none;
}